html, body {
    margin: 0;
  }
  

/* Applies a responsive layout to the header and nav element */
header, nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
  
  /* Sets the navbar to a fixed position at the top of the page */
nav {
    position: relative;
    width: 100%;
    
}
  
  /* Styles the title in the navbar */
.nav-title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 0; /* Removes the right margin */
}


  /* Centers the title in the navbar */
.nav-title {
    margin-left: auto;
    margin-right: auto;
}
  
  /* Moves the menu button to the left edge of the navbar */
button:first-child {
    margin-left: 0;
}
  
  /* Moves the login button to the right edge of the navbar */
button:last-child {
    margin-right: 0;
}

main{
    z-index: 0;
    margin: 0;
}


/* Dark mode styles */
.dark-mode {
  background-color: #2C3639;
}

