
<html>
  <header>
    <nav>
        <mat-toolbar color="primary">
          <button mat-icon-button *ngIf="this.logged"(click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
            <a class="nav-title">{{title}}</a>
            <span class="example-spacer"></span>
            <button *ngIf="this.logged" mat-icon-button >
              <mat-icon (click)="login()" >login</mat-icon>
            </button>
            <button mat-icon-button (click)="toggleDarkMode()">
              <mat-icon>brightness_{{icon}}</mat-icon>
            </button>
          </mat-toolbar>
    </nav>
  </header>
  
  
  <body>
  <mat-sidenav-container [ngClass]="{'dark-mode': darkModeService.isDarkMode}">
    <mat-sidenav #sidenav mode="push" >
      <mat-nav-list>
        <a mat-list-item routerLink="/home">Liste des devoirs</a>
        <a mat-list-item routerLink="/add">Ajout d'un devoir</a>
        <a mat-list-item routerLink="/myAccount">Mon compte</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
    </body>
  </html>
  <!-- <mat-slide-toggle color="primary" (click)="login()">Login</mat-slide-toggle> -->
  <!-- <router-outlet></router-outlet> -->
  