<div class="formulaire">
  <form [formGroup]="form" class="form" >
      <label>
          Nom:
          <input type="text" formControlName="name">
        </label>
      <label>
        Email:
        <input type="email" formControlName="email" >
      </label>
      <br>
      <label>
        Mot de passe:
        <input type="password" formControlName="password">
      </label>
      <br>
      <label>
          Choississez votre rôle :
  
      <select name="role" id="pet-role" formControlName="role">
  
          <option value="teacher">Professeur</option>
          <option value="student">Etudiant</option>
          <option value="admin">Admin</option>
          <option value="public">Public</option>
          
      </select>
      </label>
  
      <button type="submit" (click)="sendData()" color="primary">S'inscrire</button>
      <a href="/login">Vous avez déjà un compte?</a>
    </form>
  </div>