.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Styles the form */
form {
  width: 50%;
  max-width: 400px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 40px;
}

/* Styles the form inputs */
input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 12px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

/* Applies a transition effect to the border color of the input when it is focused */
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  border-color: #00bcd4;
}

/* Styles the form label */
label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Styles the select input */
select {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 12px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

/* Applies a transition effect to the border color of the select input when it is focused */
select:focus {
  border-color: #00bcd4;
}

/* Styles the submit button */
button[type="submit"] {
  width: 100%;
  border: none;
  background-color: #00bcd4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Centers the form within the page */
.formulaire {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styles the link */
a {
  color: #00bcd4;
  text-decoration: none;
  font-size: 14px;
  margin-top: 20px;
  display: block;
  text-align: center;
}



.dark-mode form {
  background-color: #3F4E4F;
}

.dark-mode input[type="text"], .dark-mode input[type="password"] {
  color: black;
  border-color: #ddd;
}

.dark-mode label {
  color: white;
}

.dark-mode button[type="submit"] {
  background-color: #A27B5C;
}

.dark-mode a {
  color: white;
}

a{
  cursor: pointer;
}