<body>
  <div class="container">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step label="Step 1">
        <form  ngForm  #assignmentForm class="form">
          <mat-form-field>
            <input matInput [(ngModel)]="nomDevoir" name="nomDevoir" placeholder="Nom du devoir" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="auteur" name="auteur" placeholder="Auteur" required>
          </mat-form-field>
          <div class="button-container">
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form >
      </mat-step>
      <mat-step label="Step 2">
        <form >
          <mat-form-field>
            <input matInput [(ngModel)]="note" name="note" placeholder="Note" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="remarques" name="remarques" placeholder="Remarques" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="nomMatiere" name="nomMatiere" placeholder="Nom de la Matière" required>
          </mat-form-field>
          <div class="button-container">
            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step label="Step 3">
        <form ngForm>
          <ng-template matStepLabel>Done</ng-template>
          <div class="button-container">
            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
          </div>
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker" placeholder="Date de rendu" [(ngModel)]="dateDeRendu" name="date" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-stroked-button color="primary" (click)="onSubmit(); assignmentForm.reset()">
            Ajouter un devoir
          </button>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</body>
         
