<!-- (ngSubmit)="onSubmit()" -->
<!-- [(ngModel)]="form.value.password" -->


<div class="formulaire" [ngClass]="{'dark-mode': darkMode}">
  <form [formGroup]="form" class="form" >
      <label>
        Email:
        <input type="text" formControlName="email">
      </label>
      <br>
      <label>
        Mot de passe:
        <input type="password" formControlName="password">
      </label>
      <br>
      <button type="submit" (click)="sendData()" color="primary">Se connecter</button>
      <a href="/signup">Vous avez pas un compte ?</a>
    </form>
  </div>
  